
.content {
  -webkit-box-shadow: 3px 3px 5px #222;
  -moz-box-shadow: 3px 3px 5px #222;
}

.content .header {
  background: #EEE;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), color-stop(0.5, #F5F5F5), color-stop(0.5, #EAEAEA), to(#EAEAEA));
  border-bottom: 10px dashed #333;
  padding: 10px;
}

.content .header .icon {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.content .header .rounded img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.content .header .details {
  margin-left: 67px;
  margin-top: 12px;
}

.content .header .title {
  font-size: 1.3em;
  text-shadow: -1px -1px 1px #FFF;
  color: #000;
}

.content .header .description {
  color: #666;
  text-shadow: -1px -1px 1px #FFF;
}

.content .blocks {
  background-color: #EAEAEA;
}

.content .blocks .block {
  padding: 10px;
  float: left;
  width: 430px;
}

.content .blocks .block h1 {
  font-size: 2em;
  color: #666;
  text-shadow: -1px -1px 0px #FFF;
  text-align: center;
  margin-bottom: 10px;
}

.content .blocks .block .row {
  background-color: #E6E6E6;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), color-stop(0.5, #F5F5F5), color-stop(0.5, #E1E1E1), to(#E1E1E1));
  cursor: pointer;
}

.content .blocks .block .row:hover {
  background: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), color-stop(0.5, #EFEFEF), color-stop(0.5, #DCDCDC), to(#DCDCDC));
  cursor: pointer;
}

.content .blocks .block .row .icon {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.content .blocks .block .row .details {
  padding: 10px;
}

.content .blocks .block .row .details .title {
  font-size: 1.3em;
  text-shadow: -1px -1px 1px #FFF;
  color: #000;
}

.content .blocks .block .row .details .description {
  color: #666;
  text-shadow: -1px -1px 1px #FFF;
  overflow: hidden;
}

#twitter .row {
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), color-stop(0.35, #F5F5F5), color-stop(0.35, #E1E1E1), to(#E1E1E1));
}

#twitter .row:hover {
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), color-stop(0.35, #EFEFEF), color-stop(0.35, #DCDCDC), to(#DCDCDC));
}

/**
 * The drawer styling.
 * This guy remains closed until the user hovers their mouse over the handle.
 */
.drawer-handle {
  background-color: #444;
}

.drawer-handle .text {
  padding: 5px;
  color: #999;
  font-size: 1.3em;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

.drawer-handle:hover .drawer {
  display: block;
}

.drawer-handle:hover .text {
  display: none;
}

.drawer {
  display: none;
  padding: 5px;
  background-color: #EEE;
}

.drawer h1 {
  font-size: 2em;
  color: #666;
  text-shadow: -1px -1px 0px #FFF;
  text-align: center;
  margin-bottom: 10px;
}

