body {
  background-color: #333;
}

a {
  text-decoration: none;
}

.snaapi {
  color: #CCC;
  text-shadow: -1px -1px 0px #000;
}

.snaapi .rightside {
  color: #447799;
}

#page-header {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 5em;
}

#page-header a {
  color: #000;
}

.fixedwidth {
  width: 900px;
  margin: 0 auto;
}
