
html,
body {
  background-color: #333;
}

#page-wrapper {
  height: auto !important;
  min-height: 100%;
  margin: 0 0 -105px;

  overflow: hidden;
}

#page-footer {
  height: 105px;
}

#footer {
  clear: both;
  height: 55px;
  position: relative;
  background-color: #999;
  border-top: 10px solid #333;
  margin-top: 40px;
}

#footer .copyright {
  margin-top: 20px;
  text-align: center;
  text-shadow: -1px -1px 1px #CCC;
  color: #333;
}

#footer .attribution {
  margin-top: 6px;
  text-align: center;
}

.clearfix {
  clear: both;
}

strong {
  font-weight: bold;
}



#filter {
  border: 1px solid #999;
  padding: 2px;
}

a {
  text-decoration: none;
}

.snaapi {
  color: #CCC;
  text-shadow: -1px -1px 0px #000;
}

.snaapi .rightside {
  color: #447799;
}

#page-header {
  text-align: center;
  padding-top: 10px;
  font-size: 5em;
}

#page-header a {
  color: #000;
}

.fixedwidth {
  width: 900px;
  margin: 0 auto;
}

.tab {
  background-color: #EEE;
  padding: 5px;
  border-bottom: 1px dashed #333;
  text-shadow: -1px -1px 1px #FFF;
}

a .tab {
  color: #999;
}

a:hover .tab {
  color: #000;
}

.rightsidetab {
  float: right;
  color: #666;
}

.leftsidetab {
  float: left;
}
